/* override table restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal !important;
}

table.docutils div.line-block {
    margin-bottom: 0 !important;
}
